body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ffffff;
}

body * {
  font-family: "body-font", sans-serif;
}

#background {
  width: 100vw; /* 100% viewport width */
  height: 100vh; /* 100% viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

#clock {
  margin: 20px;
  font-family: "clock-font";
  font-size: 120px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

#login-form input {
  border: 0;
  border-bottom: 4px solid #ffffff;
  margin-bottom: 30px;
  width: 100%;
  font-size: 50px;
  line-height: 35px;
  height: 50px;
  text-align: center;
  padding: 10px;
  background: transparent;
}

#login-form input:focus {
  outline: 0;
  color: #ffffff;
}

#login-form input::placeholder {
  color: #dddddd;
}

#greeting {
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

.hidden {
  display: none;
}

@font-face {
  font-family: "body-font";
  src: url("../font/Geranium.otf");
}

@font-face {
  font-family: "clock-font";
  src: url("../font/Royalacid_o.ttf");
}
