body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

body * {
  font-family: "KCC-eunyoung", sans-serif;
  color: #ffffff;
}

#container {
  position: relative;
  width: 100vw; /* 100% viewport width */
  height: 100vh; /* 100% viewport height */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px) brightness(60%);
}

#content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade-in 2s;
}

#clock {
  margin: 20px;
  font-family: "clock-font";
  font-size: 120px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

#login-form input {
  border: 0;
  border-bottom: 4px solid #ffffff;
  margin-bottom: 30px;
  width: 100%;
  font-size: 50px;
  line-height: 35px;
  height: 50px;
  text-align: center;
  padding: 10px;
  background: transparent;
}

#login-form input:focus {
  outline: 0;
  color: #ffffff;
}

#login-form input::placeholder {
  color: #dddddd;
}

#greeting {
  margin: 40px;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

#quote {
  position: absolute;
  bottom: 40px;
  margin-bottom: 20px;
  font-size: 24px;
  width: 80%;
  text-align: center;
}

.hidden {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "clock-font";
  src: url("../font/Royalacid_o.ttf");
}

@font-face {
  font-family: "KCC-eunyoung";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
