body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#background {
  width: 100vw; /* 100% viewport width */
  height: 100vh; /* 100% viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

#clock {
  margin: 20px;
  font-family: "clock-font";
  font-size: 100px;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "clock-font";
  src: url("../font/Royalacid_o.ttf");
}
